span
  {
  color: green;
  font-size: larger;
}
body
  {
 font-family: 'Times New Roman', Times, serif;
 font-size: large;
 text-align: center;
 background-color: brown;
}
.header{

  margin: 20px;
  padding-top: 70px;
  }
h1{
  color: green;
}
.inputs
  {
width: 100pc;
border: 5px solid lightgreen;
padding: 50px;
margin: 20px;
text-align: center;
}
